[submodule "packages/payments-microservice"]
	path = packages/payments-microservice
	url = https://github.com/eric218110/payments-microservice.git
[submodule "packages/payments-processor"]
	path = packages/payments-processor
	url = https://github.com/eric218110/payment-processor.git
